.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, alpha);
  padding: 20px;
  margin: 10;
  text-align: center;
  max-width: 230px;
  display: inline-block;
}
.card .card-image{
max-width: 60px;
height: auto;
border-radius: 50px;
margin-bottom: 10px;
}

.student-card{
border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, alpha);
  padding: 20px;
  margin: 10;
}